[
  {
    "targets": [{{ .Req.Host | toJson }}],
    "labels": {
      "__metrics_path__": "/api/v1/crosswalk/metrics",
      "deployment": "ja-media-services",
      "service": "anime-crosswalk"
    }
  },
  {
    "targets": [{{ .Req.Host | toJson }}],
    "labels": {
      "__metrics_path__": "/api/v1/subtitles/metrics",
      "deployment": "ja-media-services",
      "service": "kitsunekko-subtitles"
    }
  }
]
